body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(51, 48, 48);
    background-position-y: 50px;
    color: white;
}

img{
    width: 300px;
    height: 350px;
}

.container-fluid{
    background-color: lightgray;
}

.row{
    text-align: center;
}

#expertise{
    text-align: right;
}
ul#bullets{
    list-style-type: none;
    font-size: 20px;
}

.overview{
    text-align: left;
}

.highlights{
    text-align: left;
}
div#resumeTitle{
    text-align: left;
}